:root {
  --blue-dark: #1e6f9f;
  --blue-regular: #4ea8de;
  --purple-dark: #5e60ce;
  --purple-regular: #8284fa;

  --gray-700: #0d0d0d;
  --gray-600: #1a1a1a;
  --gray-600-65: hsl(0, 0%, 10%, 0.65);
  --gray-500: #262626;
  --gray-400: #333333;
  --gray-300: #808080;
  --gray-200: #d9d9d9;
  --gray-100: #f2f2f2;

  --danger: #e25858;
  --danger-2: hsl(0, 70%, 62%, 0.8);

  --text-xs: 0.75rem;
  --text-md: 0.875rem;
  --text-lg: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea,
button {
  font-size: var(--text-lg);
  font-family: "Inter", sans-serif;
  line-height: 1.4;
}

@media (max-width: 576px) {
  html {
    font-size: 80%;
  }
}
